{% extends 'base.html' %}
{% block content %}

<br><br>
<div class="row">
  <div class="col s6 m6 l6">
    <div class="card card-change">
      <div class="card-content">
        <span class="card-title">{{ spot.address }}</span>
        <p>Type: {{ spot.type }}</p>
        <p>Price: {{ spot.price }}</p>
        <p>Description: {{ spot.description }} </p>
      </div>
      {% if spot.user == request.user %}
      <div class="card-action">
        <a href="{% url 'spots_update' spot.id %}">Edit</a>
        <a href="{% url 'spots_delete' spot.id %}">Delete</a>
      </div>
      {% endif %}
    </div>
    {% for photo in spot.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
    {% if spot.user == request.user %}
    <form action="{% url 'add_photo' spot.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="btn btn-change" value="Upload Photo">
    </form>
    {% endif %}
  </div>
  <div class="col s6 m6 l6">
    <div class="center">
      <h3 class="center logo-style">Features</h3>
      {% if spot.features.count %}
      {% for feature in spot.features.all %}
      <div class="card card-change">
        <div class="card-content">
          <span class="card-title">
            {{ feature.name }}
          </span>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h5>No Added Features</h5>
      {% endif %}
    </div>
    {% if spot.user == request.user %}
      <div>
        <h3 class="center logo-style">Add Features</h3>
        {% if features.count %}
        {% for feature in features.all %}
        <div class="card card-change">
          <div class="card-content center">
            <span class="card-title">
              {{ feature.name }}
            </span>
          </div>
          <div class="card-action center">
            <form action="{% url 'assoc_feature' spot.id feature.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-change">Add</button>
            </form>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <h5 class="center logo-style">Already Has All Features Available</h5>
        {% endif %}
        <div class="center">
        <button class="btn btn-change center"><a class="center" style="color:white" href="{% url 'features_index' %}">Add a Feature</a></button>
        </div>
      </div>
    {% endif %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    {% if spot.user == request.user %}
    <form method="POST" action="{% url 'add_booking' spot.id %}">
      {% csrf_token %}
      {{ booking_form.as_p }}
      <input type="submit" class="btn btn-change" value="Add Booking">
    </form>
    {% endif %}
    <br>
    <table class="center">
      <thead>
        <tr>
          <th>Date</th>
          <th>Availability</th>
        </tr>
      </thead>
      <tbody>
        {% for booking in spot.booking_set.all %}
        <tr>
          <td>{{booking.date}}</td>
          <td><input type="button" class="btn btn-change" value="Available" id="1"></input></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  }); 
</script>
{% endblock %}