{% extends 'base.html' %}
{% block content %}

    
<a href="{% url 'myindex' user.id %}" class="btn-change waves-effect waves-light btn right">MySpots</a>
<h2> All Spots</h2> 

<div class="row">
  {% for spot in spots %}
    <div class="col s6 m6 l6">
      <div class="card large card-change">
        <a href="{% url 'detail' spot.id %}">
        <div class="card-image">
        {% for photo in spot.photo_set.all %}
          <img class="responsive-img" src="{{photo.url}}">
        {% endfor %}
        </div>
        <div class="card-content">
          <span class="card-title">{{spot.address}}</span>
        </div>
        <div class="card-action">
          <p>Type: {{ spot.type }}</p>
          <p>Price: {{ spot.price }}</p>
        </div>
        </a>
      </div>
    </div>
  {% endfor %}
  </div>


{% endblock %}