{% extends 'base.html' %}
{% block content %}

<h2>My Listings</h2>

<a href="{% url 'index' %}" class="waves-effect waves-light btn">All Listings</a>

<div class="row">
{% for spot in spots %}
<div class="col s6 m6 l6">
  <div class="card">
    <a href="{% url 'detail' spot.id %}">
      <div class="card-content">
        <span class="card-title">{{ spot.address }}</span>
        <p>Type: {{ spot.type }}</p>
        <p>Price: {{ spot.price }}</p>
      </div>
    </a>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}